html {
  /* 
    Here we use 62.5% because the default size of web pages is 16px, if we give it 
    62.5% * 16px = 10px, its easyer for us to set the font size of each element,
    knowing that the size of the parent element is 10px.
  */
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

body,
button {
  font-size: 2rem;
  font-family: Inter, sans-serif;
}

body {
  background: radial-gradient(
    circle,
    rgba(0, 48, 73, 1) 0%,
    rgba(255, 220, 148, 1) 100%
  );
}

.calculator {
  display: grid;
  grid-template-rows: minmax(8rem, auto) repeat(5, 8rem);
  grid-template-columns: repeat(4, 8rem);
  justify-content: center;
  margin-top: 2rem;
}

.calculator > button {
  background-color: rgba(255, 220, 148, 1);
  cursor: pointer;
  border: 1px solid white;
  outline: none;
}

.calculator > button:hover,
.calculator > button:focus {
  background-color: rgb(252, 234, 199);
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  background: rgba(0, 48, 73, 1);
  border: 1px solid white;
  word-wrap: break-word;
  word-break: break-all;
}

.span-two {
  grid-column: span 2;
}

.previous-operand {
  height: 25%;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #e8edfd;
  min-height: 25px;
}

.current-operand {
  height: 75%;
  font-size: 3.2rem;
  color: white;
  min-height: 41px;
}
